:root {
  --green: #0cc012;
  --greenLight: #cdeccf;
}

.q-question {
  position: relative;
}

/* If Display mode is LIST_REVERSE */
.q-question-list-anim {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  will-change: opacity, max-height;
  transform-origin: top left;
}
.q-question-list-anim:first-child {
  animation: show-tr 0.75s 0.5s ease-out forwards; 
}
.q-question:not(:first-child) {
  opacity: 1!important;
  max-height: 100vh!important;
  padding-bottom: 40px!important;
}
@keyframes show-tr {
  0% {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
  }
  100% {
    opacity: 1;
    max-height: 700px;
    padding-bottom: 40px;
  }
}

/* If Display mode is SINGLE */
.q-question-single-anim {
  opacity: 0;
  will-change: opacity, transform;
}
.q-question-single-anim:first-child {
  max-height: initial!important;
  animation: show-single 0.25s ease-out forwards; 
}
@keyframes show-single {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.q-img {
  margin-bottom: 4px;
}
.q-img img {
  width: 100%;
  max-height: 400px;
  background: #eee;
  object-fit: contain;
  object-position: center center;
}


.q-top {
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}
  
.q-title {
  font-size: 18px;
  flex: 1;
  line-height: 1.2;
  font-weight: 600;
}
.q-title-number {
  display: inline-block;
}
.q-title-number:after {
  content: ".";
  margin-right: 5px;
  margin-left: -1px;
}

.q-title-number--list {
  margin-bottom: 7px;
  margin-top: 1px;
  font-size: 24px;
  background: #ccc;
  height: 10px;
  border-radius: 50px;
  width: 10px;
}
.q-title-number--list:not(:last-child) {
  margin-right: 8px;
}
.q-title-number--list:after {
  content: none;
}
  
.q-number {
  font-size: 12px;
  margin-bottom: 16px;
  letter-spacing: 2px;
  line-height: 24px;
}


.q-list {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0 0 16px 0px!important;
  transform: scale(1,0.85);
  will-change: transform;
  transform-origin: center top;
  animation: show-list 0.15s forwards;
}
@keyframes show-list {
  to {
    transform: scale(1,1);
  }
}
.q-question-list > .q-question:first-child .q-list{
  transform: scale(1,1)!important;
}
.q-list-item {
  position: relative;
  
  margin: 0!important;
}


.q-button {
  font-family: Georgia;
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  line-height: 1.25;
  border-bottom: 2px solid #ddd;
  padding: 10px 0 4px 0;
  color: #000;
  font-size: 19px;
  width: 100%;
  text-align: left;
  transition: 0.2s;
  align-items: flex;
}

.q-button-text {
  position: relative;
  z-index: 2;
  display: block;
}


.q-true .q-statistics {
  background: var(--green);
} 
.q-statistics {
  position: absolute;
  bottom: -2px;
  height: 2px;
  left: 0;
  background: #aaa;
  width: 0%;
  transition: 0.35s ease-out;
}

.q-button:hover {
  border-bottom-color: #000;
  cursor: pointer;
}

.q-false {
  background: #666;
}
  
.q-select, .q-select:hover {
  color: #000;
  border-bottom-color: #eee;
}
.q-true div, .q-true div:hover{
  transition: 0.15s;
  color: var(--green)!important;
  border-bottom-color: var(--greenLight)!important;
}
.q-user-select {
  color: #000;
}


.check-mark {
  display: none;
  position: absolute;
  left: -20px;
  top: 12px;
  width: 16px;
  fill:none;
  stroke: #000;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.q-user-select .check-mark {
  display: block;
  animation: dash 0.2s ease-in forwards;
}

.q-true.q-user-select .check-mark {
  stroke:var(--green);
}

.q-comment {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000!important;
  font-weight: 400!important;
  padding: 10px 0 10px;
  transform: scale(0.92,1);
  transform-origin: top left;
  will-change: transform;
  line-height: 1.4;
}

 .q-comment::before {
  content: none;
  position: absolute;
  left: -1px;
  top: -8px;
  width: 9px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width%3D%229px%22 height%3D%2220px%22 viewBox%3D%220 0 9 20%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A  %3Cg fill%3D%22none%22%3E%0A    %3Cpath fill%3D%22%23fff%22 d%3D%22M1.29%2C0 L9%2C0 L9%2C20 L7%2C20 L7%2C17.411 C7%2C14.298 6.413 11.233 5.24 8.218 C4.336 5.893 2.794 3.733 0.614 1.738 L0.614 1.738 C0.207 1.365 0.179 0.732 0.552 0.325 C0.741 0.118 1.009 0 1.29 0 Z%22%3E%3C%2Fpath%3E%0A    %3Cpath stroke%3D%22%23ccc%22 stroke-width%3D%221%22 d%3D%22M9%2C0.5 L1.29%2C0.5 C1.149%2C0.5 1.015 0.559 0.921 0.662 C0.734%2C0.866 0.748 1.182 0.952 1.369 C3.186%2C3.414 4.772 5.637 5.706 8.036 C6.902%2C11.109 7.5 14.235 7.5 17.411 L7.5%2C20%22%3E%3C%2Fpath%3E%0A  %3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") center no-repeat;
  pointer-events: none;
  transform: scale(1,-1) rotate(-90deg);
  transform-origin: top left;
} 


@keyframes show-comment {
  0% {
    transform: scale(0.92,1);
  }
  100% {
    transform: scale(1,1);
  }
}
.q-true .q-comment, .q-true .q-comment:hover {
  color: #000!important;
  border-bottom-color: #ccc!important;
}