:root {
  --green: #0cc012;
  --greenLight: #cdeccf;
}

.q-question-list {
  /* display: flex;
  flex-direction: column-reverse; */
}

.q-question {
  /* margin-bottom: 32px; */
  position: relative;
}

/* .q-question:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  display: block;
  margin-bottom: 7px;
  margin-top: 1px;
  font-size: 24px;
  background: #eee;
  height: 10px;
  border-radius: 5px;
  animation: fade-out 0.25s forwards;
  left: 0;
  right: 0;
  margin: auto;
} */
.q-question {
  position: relative;
  /* margin-top: -10px; */
  /* margin-bottom: 0; */
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  /* animation: show-que 0.2s 0.5s ease-out forwards;  */
  transform-origin: top left;
  will-change: opacity, max-height;
}
/* .q-question > .q-list{ 
  animation: show-que 0.4s ease-out forwards; 
  transform-origin: bottom left;
  will-change: transform;
} */

/* .q-question:first-child {
  opacity: 1;
  animation: an-que 0.5s 0.5s ease-out forwards; 
}
.q-question:only-child {
  animation: none!important; 
  opacity: 1!important;
}
.q-question:first-child:nth-last-child(2) {
  animation: none!important; 
  opacity: 1!important;
} */
.q-question:first-child {
  animation: show-tr 0.75s 0.5s ease-out forwards; 
}
.q-question:not(:first-child) {
  opacity: 1!important;
  max-height: 100vh!important;
  padding-bottom: 40px!important;
}
/* .q-question:nth-child(3) {
  animation: hide-tr 0.5s ease-out forwards; 
} */
@keyframes hide-tr {
  0% {
    opacity: 1;
    padding-bottom: 0px;
  }
  100% {
    opacity: 0;
    padding-bottom: 40px;
  }
}
@keyframes show-tr {
  0% {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
  }
  100% {
    opacity: 1;
    max-height: 700px;
    padding-bottom: 40px;
  }
}

@keyframes an-que {
  0% {
    /* top: 100px; */
    opacity: 1;
    /* max-height: 400px; */
    /* transform: scale(1,1); */
    margin-bottom: 40px;
    max-height: 100vh;
    top: 0;
  }
  100% {
    /* top: 0px; */
    top: 100vh;
    opacity: 0;
    max-height: 0;
    /* transform: scale(1,0); */
    
    /* max-height: 0px; */
    margin-bottom: 0px;
  }

}
/* .q-question:last-child {
  margin-bottom: 300px;
} */

@keyframes fade-out {
  0% {
    opacity: 1;
   width: 100%;
  }
  50% {
    opacity: 1;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 0%;
  }
}
 /* .q-question:before {
  content: "";
  position: static;
  top: 0;
  width: 100%;
  display: block;
  margin-bottom: 7px;
  margin-top: 1px;
  font-size: 24px;
  background: #eee;
  height: 10px;
  border-radius: 50px;
}  */
/* 
.q-question-list > *:last-child:after {
  content: "";
  display: block;
  margin-bottom: 7px;
  margin-top: 1px;
  font-size: 24px;
  background: #eee;
  height: 10px;
  border-radius: 50px;
} */

@keyframes show-que {
  0% {
    /* margin-top: -100px; */
    /* top: -100px; */
    /* top: 30px; */
    opacity: 0;
  }

  100% {
    /* top: 0; */
    opacity: 1;
  }
}
/* .q-question-list .q-question:first-child {
  transform: scale(1,1)!important;
  opacity: 1!important;
  animation: none;
} */


.q-img {
  /* margin-top: 8px; */
  margin-bottom: 4px;
}
.q-img img {
  width: 100%;
  max-height: 400px;
  background: #eee;
  object-fit: contain;
  object-position: center center;
}


.q-top {
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}
  
.q-title {
  font-size: 18px;
  flex: 1;
  line-height: 1.2;
  font-weight: 600;
}
.q-title-number {
  display: inline-block;
}
.q-title-number:after {
  content: ".";
  margin-right: 5px;
  margin-left: -1px;
}
/* .q-title-number {
  display: inline-block;
  margin-right: 5px;
  margin-top: -3px;
  font-weight: 400;
  box-shadow: inset 0 0 0 1px rgba(155, 155, 161, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  letter-spacing: -0.1em;
} */
.q-title-number--list {
  margin-bottom: 7px;
  margin-top: 1px;
  font-size: 24px;
  background: #ccc;
  height: 10px;
  border-radius: 50px;
  width: 10px;
}
.q-title-number--list:not(:last-child) {
  margin-right: 8px;
}
.q-title-number--list:after {
  content: none;
}
  
.q-number {
  font-size: 12px;
  margin-bottom: 16px;
  letter-spacing: 2px;
  line-height: 24px;
}


.q-list {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 24px; */
  padding: 0 0 16px 24px!important;
  transform: scale(1,0.85);
  will-change: transform;
  transform-origin: center top;
  animation: show-list 0.15s forwards;
}
@keyframes show-list {
  to {
    transform: scale(1,1);
  }
}
.q-question-list > .q-question:first-child .q-list{
  transform: scale(1,1)!important;
}
.q-list-item {
  position: relative;
  
  margin: 0!important;
}


.q-button {
  font-family: Georgia;
  display: flex;
  align-items: center;
  position: relative;
  border: 0;
  line-height: 1.25;
  border-bottom: 2px solid #ddd;
  /* background: #fff; */
  padding: 10px 0 4px 0;
  color: #000;
  font-size: 19px;
  width: 100%;
  text-align: left;
  transition: 0.2s;


  /* justify-content: space-between; */
  align-items: flex;
}

.q-button-text {
  position: relative;
  z-index: 2;
  display: block;
}

/* .q-statistics {
  font-size: 80%;
  color: #bbb;
  font-weight: 400;
}
.q-true .q-statistics {
  color: var(--green);
} */

.q-true .q-statistics {
  background: var(--green);
} 
.q-statistics {
  position: absolute;
  bottom: -2px;
  height: 2px;
  left: 0;
  background: #aaa;
  width: 0%;
  transition: 0.35s ease-out;
}

.q-button:hover {
  /* color: var(--green); */
  border-bottom-color: #000;
  cursor: pointer;
}

.q-false {
  background: #666;
}
  
.q-select, .q-select:hover {
  color: #000;
  border-bottom-color: #eee;
}
.q-true div, .q-true div:hover{
  transition: 0.15s;
  color: var(--green)!important;
  border-bottom-color: var(--greenLight)!important;
  /* font-weight: 600; */
}
.q-user-select {
  color: #000;
}




.check-mark {
  display: none;
  position: absolute;
  left: -20px;
  top: 12px;
  width: 16px;
  fill:none;
  stroke: #000;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.q-user-select .check-mark {
  display: block;
  animation: dash 0.2s ease-in forwards;
}
.q-user-select .q-button-text {
  /* font-weight: 600; */
}

.q-true.q-user-select .check-mark {
  stroke:var(--green);
}

.q-comment {
  /* margin-bottom: 16px; */
  display: inline-block;
  position: relative;
  /* display: inline; */
  /* background: #faf3de; */
  font-size: 16px;
  color: #000!important;
  font-weight: 400!important;
  padding: 10px 16px 10px;
  /* margin: 8px 0 0; */
  transform: scale(0.92,1);
  /* animation: show-comment 0.2s forwards; */
  transform-origin: top left;
  will-change: transform;
  /* border: 1px solid #ccc; */
  line-height: 1.4;
  /* background: #f5f5f5; */
  /* margin-top: 6px; */
  /* z-index: -1; */
  /* margin-top: 8px; */
  /* margin-bottom: -6px;
  border-radius: 0 5px 5px 5px; */
}
/* .q-comment::before {
  content: "— ";
} */
 .q-comment::before {
  content: none;
  position: absolute;
  left: -1px;
  top: -8px;
  /* left: -8px;
  top: -1px; */
  width: 9px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width%3D%229px%22 height%3D%2220px%22 viewBox%3D%220 0 9 20%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A  %3Cg fill%3D%22none%22%3E%0A    %3Cpath fill%3D%22%23fff%22 d%3D%22M1.29%2C0 L9%2C0 L9%2C20 L7%2C20 L7%2C17.411 C7%2C14.298 6.413 11.233 5.24 8.218 C4.336 5.893 2.794 3.733 0.614 1.738 L0.614 1.738 C0.207 1.365 0.179 0.732 0.552 0.325 C0.741 0.118 1.009 0 1.29 0 Z%22%3E%3C%2Fpath%3E%0A    %3Cpath stroke%3D%22%23ccc%22 stroke-width%3D%221%22 d%3D%22M9%2C0.5 L1.29%2C0.5 C1.149%2C0.5 1.015 0.559 0.921 0.662 C0.734%2C0.866 0.748 1.182 0.952 1.369 C3.186%2C3.414 4.772 5.637 5.706 8.036 C6.902%2C11.109 7.5 14.235 7.5 17.411 L7.5%2C20%22%3E%3C%2Fpath%3E%0A  %3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") center no-repeat;
  pointer-events: none;
  transform: scale(1,-1) rotate(-90deg);
  transform-origin: top left;
} 


@keyframes show-comment {
  0% {
    transform: scale(0.92,1);
  }
  100% {
    transform: scale(1,1);
  }
}
.q-true .q-comment, .q-true .q-comment:hover {
  color: #000!important;
  border-bottom-color: #ccc!important;
}