:root {
  --green: #00bf0b;
}

.q-question {
  margin-bottom: 56px;
}


.q-img {
  margin-bottom: 16px;
}
.q-img img {
  width: 100%;
}


.q-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}
  
.q-title {
  font-size: 24px;
  flex: 1;
  line-height: 1.3;
}
  
.q-number {
  font-size: 12px;
  margin-bottom: 16px;
  letter-spacing: 2px;
  line-height: 24px;
}


.q-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0!important;
}
.q-list-item {
  display: flex;
  align-items: center;
  margin: 0!important;
}


.q-button {
  border: 0;
  line-height: 1.3;
  border-bottom: 1px solid #bbb;
  background: #fff;
  padding: 8px 40px 6px 0;
  color: #000;
  font-size: 18px;
  width: 100%;
  text-align: left;
  transition: 0.2s;
}

.q-button:hover {
  color: var(--green);
  border-bottom-color: var(--green);
  cursor: pointer;
}

.q-false {
  background: #666;
}
  
.q-select, .q-select:hover {
  color: #bbb;
  border-bottom-color: #bbb;
}
.q-true div, q-true div:hover{
  color: var(--green)!important;
  border-bottom-color: var(--green)!important;
  font-weight: 600;
}
.q-user-select {
  color: #000;
}
  
.q-user-select:before {
  content: "✓";
  font-size: 120%;
  position: absolute;
  margin-left: -16px;
}

.q-true.q-user-select:before {
  color: var(--green);
}


.q-comment {
  margin-bottom: 16px;
}