:root {
  --border-color: #ddd;
  --green: #00bf0b;
}

#q-simple {
  font-family: Verdana;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 28px;
}

/* Reset styles */
#q-simple *,
#q-simple *:after,
#q-simple *:before {
  box-sizing: inherit;
}
#q-simple ul {
  padding: 0;
  margin: 0;
}
#q-simple li {
  list-style: none;
}
#q-simple p {
  margin: 0;
}


.que-container {
  display: flex;
  flex-direction: row;
}
.que-container-left {
  flex: 2;
  margin-right: 24px;
}
.que-container-right {
  flex: 3;
}

/* Main styles */
.q-main-title {
  margin-bottom: 40px;
}
.q-main-title-h1 {
  margin: 0 0 8px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.q-main-title-p {
  font-size: 16px;
  line-height: 1.4;
}
.q-container {
  display: flex;
  flex-direction: column;

}


/* Answer's Circles */
.q-circles {
  margin-bottom: 32px;
  position: relative;
  z-index: -30;
  display: flex;
  flex-direction: row;
}
.q-circles > * {
  margin-right: 6px;
  border-radius: 10px;
  width: 8px;
  height: 8px;
}
.q-circle-no {
  background: rgb(172, 172, 172);
}
.q-circle-ok {
  background: rgb(113, 209, 121);
}
.q-circle-null {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}
.q-circle-current {
  background: #000;
}

.q-next {
  position: relative;
  animation: next-show 0.5s forwards;
  padding: 40px 20px 20px 0px;
}
.q-next__button {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  padding: 25px 40px;
}
.q-next__arrow{
  position: relative;
  display: block;
  height: 2px;
  color: #666;
  background: currentColor;
  width: 50px;
  transition: 0.2s;
  animation: next-animate 3s linear infinite;
  transform-origin: left center;
}
.q-next:hover .q-next__arrow{
  color: #000;
  width: 70px;
  cursor: pointer;
  animation-duration: 1s;
}
.q-next__arrow:after {
  content: '';
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: rotate(45deg);
}
@keyframes next-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes next-animate {
  0% {
    transform: scale(1,1)
  }
  25% {
    transform: scale(0.9,1)
  }
  75% {
    transform: scale(1.1,1)
  }
  100% {
    transform: scale(1,1)
  }
}


@media (max-width: 600px) {
  .q-main-title-h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .q-main-title-p {
    font-size: 14px;
    line-height: 1.1;
  }
  .q-main-title {
    margin-bottom: 24px;
  }
}