#q-simple {
  font-family: Verdana;
  max-width: 800px;
  box-sizing: border-box;
}

/* Reset styles */
#q-simple *,
#q-simple *:after,
#q-simple *:before {
  box-sizing: inherit;
}

#q-simple ul {
  padding: 0;
  margin: 0;
}
#q-simple li {
  list-style: none;
}
#q-simple p {
  margin: 0;
}


/* Main styles */
.q-main-title {
  margin-bottom: 40px;
}
.q-main-title-h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.q-main-title-p {
  font-size: 16px;
}


.q-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.q-final {
  display: flex;
  justify-content: space-between;
}


:root {
  --green: #00bf0b;
}

.q-result-text {
  font-size: 24px;
}

.q-reload {
  padding: 8px 16px;
}
.refresh.icon {
  color: #444;
  position: relative;
  margin-left: 4px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
  transition: 0.2s;
  box-sizing: content-box;
}
.refresh.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 12px;
  width: 6px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-12.5deg);
  transform: rotate(-12.5deg);
  box-sizing: content-box;
}
.q-reload:hover .refresh.icon{
  transform: rotate(15deg);
  color: var(--green);
  cursor: pointer;
}